# Ignore node_modules folder
node_modules/

# Ignore build artifacts
build/
dist/
out/

# Ignore environment-specific files
.env

# Ignore SSL key folder
keys/

# Ignore any other files or folders you want to exclude from version control
